<?xml version="1.0"?>
<!-- yarn-site.xml -->
<configuration>
		<property>
				<name>yarn.resourcemanager.hostname</name>
				<value>{{ hostvars[groups["resourcemanager"][0]].ansible_hostname }}</value>
		</property>
		<property>
                <name>yarn.resourcemanager.bind-host</name>
                <value>0.0.0.0</value>
		</property>
		<property>
                <name>yarn.nodemanager.bind-host</name>
                <value>0.0.0.0</value>
		</property>
		<property>
				<name>yarn.nodemanager.aux-services</name>
				<value>mapreduce_shuffle</value>
		</property>
		<property>
				<name>yarn.nodemanager.aux-services.mapreduce_shuffle.class</name>
				<value>org.apache.hadoop.mapred.ShuffleHandler</value>
		</property>
		<property>
				<name>yarn.log-aggregation-enable</name>
				<value>true</value>
		</property>
		<property>
				<name>yarn.nodemanager.local-dirs</name>
				<value>file:{{ yarn_work_dir}}/local</value>
		</property>
		<property>
				<name>yarn.nodemanager.log-dirs</name>
				<value>file:{{ yarn_work_dir}}/log</value>
		</property>
        <property>
                <name>yarn.nodemanager.pmem-check-enabled</name>
                <value>false</value>
       </property>

       <property>
                <name>yarn.nodemanager.vmem-check-enabled</name>
                <value>false</value>
        </property>
       <property>
                <name>yarn.nodemanager.resource.memory-mb</name>
                <value>{{  hostvars[ansible_host]["memory"] | default(8096) }}</value>
       </property>
       <property>
                <name>yarn.nodemanager.resource.cpu-vcores</name>
                <value>{{  hostvars[ansible_host]["vcpu"] | default(8) }}</value>
       </property>
</configuration>
